<h1>駅一覧</h1>

<table>
  <tr>
    <th>駅名</th>
    <th>路線</th>
  </tr>

<% @stations.each do |station| %>
  <tr>
    <td><%= station.name %></td>
    <td><%= station.route %></td>
    <td><%= link_to '詳細を確認する', station_path(station.id) %></td>
    <td><%= link_to "駅を編集する", edit_station_path(station.id) %></td>
    <td><%= link_to '駅を削除する', station_path(station.id), method: :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to '新しく駅を登録する', new_station_path %>
