<h1><%= @user.name + "さんのお気に入り" %></h1>
<h1>ネタ一覧</h1>
<% if @favorites.blank?%>
<br>
<br>
<h2><%= "登録されてません"  %></h2>
<% else%>
<table>
  <tr>
    <th>投稿者</th>
    <th>内容</th>
    <th>画像</th>
  </tr>

<% @favorites.each do |favorite| %>
  <tr>
    <td><%= favorite.user.name %></td>
    <td><%= favorite.content %></td>
    <% if favorite.image.blank?%>
      <td><%= "no image"  %></td>
    <% else%>
      <td><%= image_tag(favorite.image.url)  %></td>
    <% end %>
  </tr>
<% end %>
</table>

<% end %>
<br>
<br>
<%= link_to '新しくネタを投稿する', new_neta_path %>
