<h1><%= @user.name + "さんのお気に入り" %></h1>
<h1>ブログ一覧</h1>

<table>
  <tr>
    <th>投稿者</th>
    <th>タイトル</th>
    <th>内容</th>
    <th>画像</th>
  </tr>

<% @favorites.each do |favorite| %>
  <tr>
    <td><%= favorite.user.name %></td>
    <td><%= favorite.content %></td>
    <td><%= favorite.image %></td>
    <% if favorite.image.blank?%>
      <td><%= "no image"  %></td>
    <% else%>
      <td><%= image_tag(favorite.image.url)  %></td>
    <% end %>
  </tr>
<% end %>
</table>

<%= link_to '新しくネタを投稿する', new_neta_path %>
