<%= form_with(model: @neta, local: true, url: choose_new_or_edit ) do |form| %>
  <% if @neta.errors.any? %>
    <div id="error_explanation">
      <h2><%= @neta.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @neta.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="neta_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="neta_image">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.collection_check_boxes(:station_ids, Station.all, :id, :name) %>
  </div>

  <%= form.submit %>
<% end %>
