<%= form_with(model: @neta, local: true, url: choose_new_or_edit ) do |form| %>
  <% if @neta.errors.any? %>
    <div id="error_explanation">
      <h2><%= @neta.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @neta.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="neta_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="neta_image">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>
  <%  Station.all.each do |station| %>
      <% if action_name == 'new' || action_name == 'create' %>
        <%= form.check_box :station_ids, { multiple: true, checked: station[:checked], disabled: station[:disabled], include_hidden: false}, station[:id], "" %>
        <station><%= station.name %></station>
      <% elsif action_name == 'edit' || action_name == 'update' %>
        <%= form.check_box :station_ids, { multiple: true, checked: @neta.station_ids.include?(station.id), disabled: station[:disabled], include_hidden: false}, station[:id], "" %>
        <station><%= station.name %></station>
      <% end %>
    <% end %>

  <%= form.submit %>
<% end %>
