<h1>確認画面</h1>
<%= form_with(model: @neta, url: netas_path, local: true) do |form| %>
  <!-- 確認画面でアップロードした画像を表示させるための記述 -->
  <p>一言:<%= @neta.content %></p>

  <%= image_tag(@neta.image.url) if @neta.image && @neta.image.url %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :image_cache %>
  <% @neta.station_ids.each do |id| %>
      <%= form.hidden_field :station_ids, multiple: true, value: id %>
  <% end %>
  <%= form.submit "投稿する" %>
<% end %>
<%= form_with(model:@neta, url:new_neta_path, local:true, method:"get") do |form| %>
  <%= form.hidden_field :image_cache %>
  <%= form.submit "戻る", name: "back" %>
<% end %>
